.u-center-text {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-large {
    margin-bottom: 6rem;
}

.u-margin-auto {
    margin: 0 auto;
}

.u-margin-medium {
    margin: 10rem 0;
}